@model ClientServer.Models.EntityFramework.DanhMucCongViec

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="content" class="container-fluid">
    <div class="card">
        <div class="card-header font-weight-bold">
            Thêm công việc
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Update", "Work", FormMethod.Post))
            {
                if (TempData["thongbao"] != null)
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <strong>@TempData["thongbao"]</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    @Html.LabelFor(model => model.MaCongViec, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.MaCongViec, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.MaCongViec, "", new { @class = "text-danger font-italic" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TenCongViec, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.TenCongViec, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenCongViec, "", new { @class = "text-danger font-italic" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DinhMucKhoan, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.DinhMucKhoan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DinhMucKhoan, "", new { @class = "text-danger font-italic" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DonViKhoan, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.DonViKhoan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DonViKhoan, "", new { @class = "text-danger font-italic" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HeSoKhoan, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.HeSoKhoan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HeSoKhoan, "", new { @class = "text-danger font-italic" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DinhMucLaoDong, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.DinhMucLaoDong, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DinhMucLaoDong, "", new { @class = "text-danger font-italic" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Cập nhật" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
