@model PagedList.IPagedList< ClientServer.Areas.Admin.Models.SalaryModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "StatisticSalary";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="content" class="container-fluid">
    <div class="card">
        <div class="card-header font-weight-bold d-flex justify-content-between align-items-center"
             style="box-sizing: border-box">

            <div class="form-inline">
                <h5 class="m-0 ">Bảng lương công nhân</h5>
                @using (Html.BeginForm("StatisticSalary", "Statistic", FormMethod.Get))
                {
                    <input type="date" class="form-control form-search" name="searchDate" autocomplete="off"
                           value="@ViewBag.searchDate">
                    <select class="dropdown-content" name="sortOrder" value="@ViewBag.sortOrder">
                        <option selected value="0">--filter--</option>
                        <option value="1">Bảng lương cao nhất</option>
                        <option value="2">Bảng lương thấp nhất</option>
                        <option value="3">Bảng lương theo tháng</option>
                        <option value="4">Bảng lương theo tuần</option>
                    </select>
                    <button type="submit" class="btn btn-success">Tìm kiếm</button>
                }
            </div>
        </div>
        @if (TempData["thongbao"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <strong>@TempData["thongbao"]</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="card-body">
            @*<div class="analytic">
                    <a href="">Tất cả (100)</a>
                    <a href="">Làm chung (100)</a>
                    <a href="">Làm riêng (100)</a>
                </div>*@
            @if (Model != null)
            {
                var count = 0;
                <table class="table table-striped table-checkall">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Mã Công Nhân</th>
                            <th scope="col">Họ tên</th>
                            <th scope="col">Mã Công Việc</th>
                            <th scope="col">Tên Công việc</th>
                            <th scope="col">Sản Lượng Thực tế</th>
                            <th scope="col">Đơn giá</th>
                            <th scope="col">Bảng Lương</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.MaCongNhan</td>
                            <td>@item.Hoten</td>
                            <td>@item.MaCongViec</td>
                            <td>@item.TenCongViec</td>
                            <td>@item.SanLuongThucTe</td>
                            <td>@item.DonGia</td>
                            <td>@item.BangLuong</td>
                        </tr>
                        }
                    </tbody>
                </table>
                <div class="pagination" style="float: right;">
                    @Html.PagedListPager(Model, page => Url.Action("StatisticSalary"))
                </div>
            }
        </div>
    </div>
</div>